.gallery-img {
  @apply rounded-xl hover:scale-105 transition duration-300 shadow-md w-full h-auto;
}
.gallery-img {
  border-radius: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: auto;
}
.gallery-img:hover {
  transform: scale(1.05);
}
